.dashboard {
  padding: 25px;
}

.dashboard-tile {
  padding: 20px;
  margin: 10px;
}

.share-tile-copy {
  cursor: pointer;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 5px;
  font-family: monospace;
  height: 12px;
  white-space:nowrap;
  overflow-x: scroll;
}
